{
  "extends": "airbnb",
  "globals": {},
  "rules": {
    "key-spacing": [0, {
      "beforeColon": true,
      "afterColon": true
    }],
    "no-console": 0,
    "no-else-return": 0,
    "space-before-function-paren": [0, "always"],
    "func-names": 0
  }
}
